<mapper namespace="com.deliveryservice.repo.IAddressDAO">
    <resultMap id="AddressResultMap" type="com.deliveryservice.model.Address">
        <id property="id" column="id"/>
        <result property="street" column="street"/>
        <result property="city" column="city"/>
        <result property="postcode" column="postcode"/>
        <result property="latitude" column="latitude"/>
        <result property="longitude" column="longitude"/>
    </resultMap>

    <select id="readById" resultMap="AddressResultMap">
        SELECT * FROM Address WHERE id = #{id}
    </select>

    <select id="readAll" resultMap="AddressResultMap">
        SELECT * FROM Address
    </select>

    <delete id="deleteById">
        DELETE FROM Address WHERE id = #{id}
    </delete>

    <update id="update">
        UPDATE Address SET
        street = #{address.street},
        city = #{address.city},
        postcode = #{address.postCode},
        latitude = #{address.latitude},
        longitude = #{address.longitude}
        WHERE id = #{address.id}
    </update>

    <insert id="create">
        INSERT INTO Address (street, city, postcode, latitude, longitude)
        VALUES (#{address.street}, #{address.city}, #{address.postcode}, #{address.latitude}, #{address.longitude})
    </insert>
</mapper>