<mapper namespace="com.deliveryservice.repo.ICarDAO">
    <resultMap id="CarResultMap" type="com.deliveryservice.model.Car">
        <id property="id" column="id"/>
        <result property="carType" column="car_type"/>
        <result property="maxWeightCapacity" column="max_weight_capacity"/>
        <result property="maxVolumeCapacity" column="max_volume_capacity"/>
        <result property="ownerCompanyId" column="owner_company_id"/>
    </resultMap>

    <select id="readById" resultMap="CarResultMap">
        SELECT * FROM Car WHERE id = #{id}
    </select>

    <select id="readAll" resultMap="CarResultMap">
        SELECT * FROM Car
    </select>

    <delete id="deleteById">
        DELETE FROM Car WHERE id = #{id}
    </delete>

    <update id="update">
        UPDATE Car SET
        car_type = #{car.carType},
        max_weight_capacity = #{car.maxWeightCapacity},
        max_volume_capacity = #{car.maxVolumeCapacity},
        owner_company_id = #{car.ownerCompanyId}
        WHERE id = #{car.id}
    </update>

    <insert id="create">
        INSERT INTO Car (car_type, max_weight_capacity, max_volume_capacity, owner_company_id)
        VALUES (#{car.carType}, #{car.maxWeightCapacity}, #{car.maxVolumeCapacity}, #{car.ownerCompanyId})
    </insert>
</mapper>