<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.delivopt.repo.ICompanyDAO">
    <resultMap id="CompanyResultMap" type="com.solvd.delivopt.model.Company">
        <id property="id" column="id"/>
        <result property="companyName" column="company_name"/>
    </resultMap>

    <select id="readById" resultMap="CompanyResultMap">
        SELECT * FROM Company WHERE id = #{id}
    </select>

    <select id="readAll" resultMap="CompanyResultMap">
        SELECT * FROM Company
    </select>

    <delete id="deleteById">
        DELETE FROM Company WHERE id = #{id}
    </delete>

    <update id="update">
        UPDATE Company SET
            company_name = #{companyName},
            address_id = #{address.id}
        WHERE id = #{id}
    </update>

    <insert id="create">
        INSERT INTO Company (company_name, address_id)
        VALUES (#{companyName}, #{address.id})
    </insert>
</mapper>