<mapper namespace="com.deliveryservice.repo.IOrdersDAO">
    <resultMap id="OrdersResultMap" type="com.deliveryservice.model.Orders">
        <id property="orderId" column="order_id"/>
        <result property="clientId" column="client_id"/>
        <result property="orderDate" column="order_date"/>
        <result property="destinationAddressId" column="destination_address_id"/>
        <result property="status" column="status"/>
    </resultMap>

    <select id="readById" resultMap="OrdersResultMap">
        SELECT * FROM Orders WHERE order_id = #{orderId}
    </select>

    <select id="readAll" resultMap="OrdersResultMap">
        SELECT * FROM Orders
    </select>

    <select id="readAllByClientId" resultMap="OrdersResultMap">
        SELECT * FROM Orders WHERE client_id = #{clientId}
    </select>

    <delete id="deleteById">
        DELETE FROM Orders WHERE order_id = #{orderId}
    </delete>

    <update id="update">
        UPDATE Orders SET
        client_id = #{orders.clientId},
        order_date = #{orders.orderDate},
        destination_address_id = #{orders.destinationAddressId},
        status = #{orders.status}
        WHERE order_id = #{orders.orderId}
    </update>

    <insert id="create">
        INSERT INTO Orders (client_id, order_date, destination_address_id, status)
        VALUES (#{orders.clientId}, #{orders.orderDate}, #{orders.destinationAddressId}, #{orders.status})
    </insert>
</mapper>

