<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.delivopt.repo.IDeliveryDAO">
    <resultMap id="DeliveryResultMap" type="com.solvd.delivopt.model.Delivery">
        <id property="id" column="id"/>
        <result property="departureTime" column="departure_time"/>
        <result property="estimatedArrivalTime" column="estimated_arrival_time"/>
        <result property="type" column="type"/>

        <association property="car" javaType="com.solvd.delivopt.model.Car"
                     select="com.solvd.delivopt.repo.ICarDAO.readByDeliveryId" column="id"/>

        <collection property="orders" ofType="com.solvd.delivopt.model.Order"
                    select="com.solvd.delivopt.repo.IOrderDAO.readAllByDeliveryId" column="id"/>

        <collection property="routes" ofType="com.solvd.delivopt.model.Route"
                    select="com.solvd.delivopt.repo.IRouteDAO.readAllByDeliveryId" column="id"/>
    </resultMap>

    <select id="getLastId" resultType="Long">
        SELECT MAX(id) FROM Delivery;
    </select>

    <select id="readById" resultMap="DeliveryResultMap">
        SELECT * FROM Delivery WHERE id = #{id}
    </select>

    <select id="readAll" resultMap="DeliveryResultMap">
        SELECT * FROM Delivery
    </select>

    <delete id="deleteById">
        DELETE FROM Delivery WHERE id = #{id}
    </delete>

    <update id="update">
        UPDATE Delivery SET
        car_id = #{car.id},
        departure_time = #{departureTime},
        estimated_arrival_time = #{estimatedArrivalTime},
        type = #{type}
        WHERE id = #{id}
    </update>

    <insert id="create">
        INSERT INTO Delivery (car_id, departure_time, estimated_arrival_time, type)
        VALUES (#{car.id}, #{departureTime}, #{estimatedArrivalTime}, #{type})
    </insert>


    <select id="readAllByOrderId" resultMap="DeliveryResultMap">
        SELECT * FROM Delivery
        WHERE id IN (
        SELECT delivery_id FROM Orders_Delivery
        WHERE order_id = #{id}
        );
    </select>

    <update id="updateOrdersDelivery">
        UPDATE Orders_Delivery
        SET order_id = #{newOrderId},
        delivery_id = #{newDeliveryId}
        WHERE order_id = #{orderId} AND delivery_id = #{deliveryId};
    </update>

    <insert id="createOrdersDelivery">
        INSERT INTO Orders_Delivery (order_id, delivery_id)
        VALUES (#{orderId}, #{deliveryId})
    </insert>

    <delete id="deleteOrdersDelivery">
        DELETE FROM Orders_Delivery WHERE order_id = #{orderId} AND delivery_id = #{deliveryId};
    </delete>


    <select id="readAllByRouteId" resultMap="DeliveryResultMap">
        SELECT * FROM Delivery
        WHERE id IN (
        SELECT delivery_id FROM Delivery_routes
        WHERE route_id = #{id}
        );
    </select>

    <update id="updateDeliveryRoutes">
        UPDATE Delivery_routes
        SET route_id = #{newRouteId},
        delivery_id = #{newDeliveryId},
        sequence = #{sequence}
        WHERE route_id = #{routeId} AND delivery_id = #{deliveryId};
    </update>

    <insert id="createDeliveryRoutes">
        INSERT INTO Delivery_routes (route_id, delivery_id, sequence)
        VALUES (#{routeId}, #{deliveryId}, #{sequence})
    </insert>

    <delete id="deleteDeliveryRoutes">
        DELETE FROM Delivery_routes WHERE route_id = #{routeId} AND delivery_id = #{deliveryId};
    </delete>

</mapper>
