<mapper namespace="com.deliveryservice.repo.IOrdersDeliveryDAO">
    <resultMap id="OrdersDeliveryResultMap" type="com.deliveryservice.model.OrdersDelivery">
        <id property="ordersDeliveryId" column="orders_delivery_id"/>
        <result property="orderId" column="order_id"/>
        <result property="deliveryId" column="delivery_id"/>
    </resultMap>

    <select id="readById" resultMap="OrdersDeliveryResultMap">
        SELECT * FROM Orders_Delivery WHERE orders_delivery_id = #{ordersDeliveryId}
    </select>

    <select id="readAll" resultMap="OrdersDeliveryResultMap">
        SELECT * FROM Orders_Delivery
    </select>

    <select id="readAllByOrderId" resultMap="OrdersDeliveryResultMap">
        SELECT * FROM Orders_Delivery WHERE order_id = #{orderId}
    </select>

    <delete id="deleteById">
        DELETE FROM Orders_Delivery WHERE orders_delivery_id = #{ordersDeliveryId}
    </delete>

    <update id="update">
        UPDATE Orders_Delivery SET
        order_id = #{ordersDelivery.orderId},
        delivery_id = #{ordersDelivery.deliveryId}
        WHERE orders_delivery_id = #{ordersDelivery.ordersDeliveryId}
    </update>

    <insert id="create">
        INSERT INTO Orders_Delivery (order_id, delivery_id)
        VALUES (#{ordersDelivery.orderId}, #{ordersDelivery.deliveryId})
    </insert>
</mapper>