<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.delivopt.repo.IWarehouseDAO">
    <resultMap id="WarehouseResultMap" type="com.solvd.delivopt.model.Warehouse">
        <id property="id" column="id"/>
        <result property="warehouseName" column="warehouse_name"/>
        <result property="ownerCompanyId" column="owner_company_id"/>

        <association property="warehouseAddress" javaType="com.solvd.delivopt.model.Address"
                     select="com.solvd.delivopt.repo.IAddressDAO.readByWarehouseId" column="id"/>
    </resultMap>

    <select id="readById" resultMap="WarehouseResultMap">
        SELECT * FROM Warehouse WHERE id = #{id}
    </select>

    <select id="readAll" resultMap="WarehouseResultMap">
        SELECT * FROM Warehouse
    </select>

    <select id="readAllByCompanyId" resultMap="WarehouseResultMap">
        SELECT * FROM Warehouse WHERE owner_company_id = #{ownerCompanyId}
    </select>

    <delete id="deleteById">
        DELETE FROM Warehouse WHERE id = #{id}
    </delete>

    <update id="update">
        UPDATE Warehouse SET
        warehouse_address_id = #{warehouseAddress.id},
        warehouse_name = #{warehouseName},
        owner_company_id = #{ownerCompanyId}
        WHERE id = #{id}
    </update>

    <insert id="create">
        INSERT INTO Warehouse (warehouse_address_id, warehouse_name, owner_company_id)
        VALUES (#{warehouseAddress.id}, #{warehouseName}, #{ownerCompanyId})
    </insert>

    <select id="readAllByGoodsId" resultMap="WarehouseResultMap">
        SELECT * FROM Warehouse
        WHERE id IN (
        SELECT warehouse_id FROM Warehouse_Goods
        WHERE goods_id = #{goodsId} AND quantity > 0
        )
    </select>
</mapper>
