<mapper namespace="com.deliveryservice.repo.IWarehouseGoodsDAO">
    <resultMap id="WarehouseGoodsResultMap" type="com.deliveryservice.model.WarehouseGoods">
        <id property="warehouseId" column="warehouse_id"/>
        <id property="goodsId" column="goods_id"/>
        <result property="quantity" column="quantity"/>
    </resultMap>

    <select id="readByWarehouseAndGoodsId" resultMap="WarehouseGoodsResultMap">
        SELECT * FROM Warehouse_Goods
        WHERE warehouse_id = #{warehouseId} AND goods_id = #{goodsId}
    </select>

    <select id="readAll" resultMap="WarehouseGoodsResultMap">
        SELECT * FROM Warehouse_Goods
    </select>

    <select id="readAllByWarehouseId" resultMap="WarehouseGoodsResultMap">
        SELECT * FROM Warehouse_Goods WHERE warehouse_id = #{warehouseId}
    </select>

    <select id="readAllByGoodsId" resultMap="WarehouseGoodsResultMap">
        SELECT * FROM Warehouse_Goods WHERE goods_id = #{goodsId}
    </select>

    <delete id="deleteByWarehouseAndGoodsId">
        DELETE FROM Warehouse_Goods
        WHERE warehouse_id = #{warehouseId} AND goods_id = #{goodsId}
    </delete>

    <update id="update">
        UPDATE Warehouse_Goods SET
        quantity = #{warehouseGoods.quantity}
        WHERE warehouse_id = #{warehouseGoods.warehouseId}
        AND goods_id = #{warehouseGoods.goodsId}
    </update>

    <insert id="create">
        INSERT INTO Warehouse_Goods (warehouse_id, goods_id, quantity)
        VALUES (#{warehouseGoods.warehouseId}, #{warehouseGoods.goodsId}, #{warehouseGoods.quantity})
    </insert>
</mapper>
