<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <properties resource="config.properties" />

    <typeAliases>
        <package name="com.solvd.delivopt.model" />
    </typeAliases>

    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="${DB_DRIVER}" />
                <property name="url" value="${DB_URL}" />
                <property name="username" value="${DB_USER}" />
                <property name="password" value="${DB_PASSWORD}" />
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="sql/mybatis/mappers/AddressMapper.xml" />
        <mapper resource="sql/mybatis/mappers/CarMapper.xml" />
        <mapper resource="sql/mybatis/mappers/ClientMapper.xml" />
        <mapper resource="sql/mybatis/mappers/CompanyMapper.xml" />
        <mapper resource="sql/mybatis/mappers/DeliveryMapper.xml" />
        <mapper resource="sql/mybatis/mappers/GoodsMapper.xml" />
        <mapper resource="sql/mybatis/mappers/WarehouseMapper.xml" />
        <mapper resource="sql/mybatis/mappers/OrderedGoodsMapper.xml" />
        <mapper resource="sql/mybatis/mappers/OrderMapper.xml" />
        <mapper resource="sql/mybatis/mappers/RouteMapper.xml" />
    </mappers>
</configuration>
